/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #ff6600, #ff9933);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-links a {
    color: #ff6600;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    color: #fff;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

/* Text Box styles */
input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9933;
}

/* Footer styles */
.footer-container {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
}

.footer-container p {
    color: #fff;
    margin: 0;
}

.hidden {
    display: none;
}
